<mat-toolbar color="primary">
  <span class="title-center">dr.Srdjan Sladojevic</span>
</mat-toolbar>
<mat-expansion-panel class="boja">
  <mat-expansion-panel-header class="informacije">
    <mat-panel-title><mat-icon>info</mat-icon> </mat-panel-title>
    <mat-panel-description class="gaga">
      Osnovne informacije
    </mat-panel-description>
  </mat-expansion-panel-header>
  <ul class="ul">
    <li>Ime: Srdjan</li>
    <li>Prezime: Sladojevic</li>
    <li>Akademsko zvanje: Profesor</li>
    <li>
      <a
        href="http://www.ftn.uns.ac.rs/2048312383/srdjan-sladojevic"
        target="_BLANK"
        >E-mail</a
      >
    </li>
  </ul>
</mat-expansion-panel>
