<mat-toolbar color="primary">
  <span class="title-center">Lazar Kalajdzic</span>
</mat-toolbar>
<mat-accordion multi>
  <mat-expansion-panel class="boja">
    <mat-expansion-panel-header class="informacije">
      <mat-panel-title> <mat-icon>info</mat-icon> </mat-panel-title>
      <mat-panel-description class="gaga">
        Osnovne informacije
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ul class="ul">
      <li>Ime: Lazar</li>
      <li>Prezime: Kalajdzic</li>
      <li>Adresa: XI Vojvodjanske Udarne Brigade, Backa Palanka</li>
    </ul>
  </mat-expansion-panel>
  <mat-expansion-panel class="boja">
    <mat-expansion-panel-header class="informacije">
      <mat-panel-title> <mat-icon>book</mat-icon> </mat-panel-title>
      <mat-panel-description class="gaga">Obrazovanje</mat-panel-description>
    </mat-expansion-panel-header>
    <ul class="ul">
      <li>Osnovna skola: Vuk Karadzic, Backa Palanka</li>
      <li>
        Srednja skola:
        <a href="https://gimnazijabp.edu.rs/" target="_BLANK"
          >Gimnazija Backa Palanka</a
        >
      </li>
      <li>
        Fakultet:
        <a
          href="http://www.ftn.uns.ac.rs/691618389/fakultet-tehnickih-nauka"
          target="_BLANK"
          >Fakultet Tehnickih Nauka</a
        >
      </li>
    </ul>
  </mat-expansion-panel>
  <mat-expansion-panel class="boja">
    <mat-expansion-panel-header class="informacije">
      <mat-panel-title>
        <mat-icon>directions_run</mat-icon>
      </mat-panel-title>
      <mat-panel-description class="gaga">Aktivnosti</mat-panel-description>
    </mat-expansion-panel-header>
    <p class="ul">
      U slobodno vreme volim da igram fudbal koji treniram od svoje 5. godine sa
      svojim prijateljima kao i da ga zajedno sa njima gledam na televiziji.
      Takodje volim da setam i obilazim nova mesta. Ponekad volontiram u
      humanitarnoj organizaciji "Crveni Krst" u Backoj Palanci i clan sam
      studentske organizacije na Fakultetu Tehnickih Nauka gde zajedno sa
      kolegama ucestvujem u raznim projektima.
    </p>
  </mat-expansion-panel>
  <mat-expansion-panel class="boja">
    <mat-expansion-panel-header class="informacije">
      <mat-panel-title>
        <mat-icon>phone_iphone</mat-icon>
      </mat-panel-title>
      <mat-panel-description class="gaga">
        Drustvene mreze
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ul class="ul">
      <li>
        <a href="https://www.facebook.com/lazar.kalajdzic.71" target="_BLANK"
          >Facebook</a
        >
      </li>
      <li>
        <a href="https://www.instagram.com/kalajdzic_8/?hl=sr" target="_BLANK"
          >Instagram</a
        >
      </li>
    </ul>
  </mat-expansion-panel>
</mat-accordion>
